# Ignore everything
*

# Whitelist directories
!.config/

# But not -
!.gitignore
!/**/zsh/.zshrc
!/**/bspwm/
!/**/sxhkd/
!/**/polybar/
!/**/ckb-next/
!/**/rofi/
!/**/kitty/
!/**/.scripts/
!/**/Code/User/keybindings.json
!/**/Code/User/settings.json
!/**/picom/

!/**/bspwm/*
!/**/sxhkd/*
!/**/polybar/*
!/**/ckb-next/*
!/**/rofi/*
!/**/kitty/*
!/**/picom/*
